* {
	margin: 0;
	padding: 0;
}
.dot {
	float: left;
	width: 25px;
	height: 25px;
}
.dot0 {background-color: #C8C3BC;}
.dot1 {background-color: #F8F7EB;}
.dot2 {background-color: #FAF3EE;}
.dot3 {background-color: #F9F3EF;}
.dot4 {background-color: #F4EFF0;}
.dot5 {background-color: #ECF5F0;}
.dot6 {background-color: #F3F7EF;}
.dot7 {background-color: #DFDBD3;}
.dot8 {background-color: #ECEAE4;}
.dot9 {background-color: #E0DDD7;}
.dot10 {background-color: #EDECE6;}
.dot11 {background-color: #DFE3DE;}
.dot12 {background-color: #CDD1CC;}
.dot13 {background-color: #C7CBC8;}
.dot14 {background-color: #D2CEC7;}
.dot15 {background-color: #FBF7B3;}
.dot16 {background-color: #FBF7BF;}
.dot17 {background-color: #FBF3C2;}
.dot18 {background-color: #EEE6C1;}
.dot19 {background-color: #EDDFBE;}
.dot20 {background-color: #E6DEC3;}
.dot21 {background-color: #E2D6BB;}
.dot22 {background-color: #FDEBC4;}
.dot23 {background-color: #FCECD6;}
.dot24 {background-color: #FEE7CC;}
.dot25 {background-color: #FEE3C9;}
.dot26 {background-color: #FFE1C4;}
.dot27 {background-color: #FFE3D0;}
.dot28 {background-color: #F2D9C8;}
.dot29 {background-color: #F7F0E0;}
.dot30 {background-color: #F6EEE0;}
.dot31 {background-color: #F1DCC5;}
.dot32 {background-color: #F2E1CB;}
.dot33 {background-color: #ECDDCB;}
.dot34 {background-color: #E5D2BE;}
.dot35 {background-color: #EADCCE;}
.dot36 {background-color: #FAF1E4;}
.dot37 {background-color: #F7EBDD;}
.dot38 {background-color: #F3EBE0;}
.dot39 {background-color: #E8D5C6;}
.dot40 {background-color: #E1D1C4;}
.dot41 {background-color: #ECD6CE;}
.dot42 {background-color: #E3CFC7;}
.dot43 {background-color: #FAF0EA;}
.dot44 {background-color: #FCE8E1;}
.dot45 {background-color: #FDE4E1;}
.dot46 {background-color: #F6DFD7;}
.dot47 {background-color: #F7D7D5;}
.dot48 {background-color: #EECFCC;}
.dot49 {background-color: #E5CBC7;}
.dot50 {background-color: #FEE6E8;}
.dot51 {background-color: #F9E0E2;}
.dot52 {background-color: #FBE8ED;}
.dot53 {background-color: #F2D4D6;}
.dot54 {background-color: #F6DCE3;}
.dot55 {background-color: #F4DEE9;}
.dot56 {background-color: #EBCAD3;}
.dot57 {background-color: #F8EBE9;}
.dot58 {background-color: #F6E9ED;}
.dot59 {background-color: #EFE7EF;}
.dot60 {background-color: #E9CDCE;}
.dot61 {background-color: #E1C4CA;}
.dot62 {background-color: #EDD5E0;}
.dot63 {background-color: #DDC3CE;}
.dot64 {background-color: #E4DCF1;}
.dot65 {background-color: #EADEEB;}
.dot66 {background-color: #E5D9E6;}
.dot67 {background-color: #E0D3E2;}
.dot68 {background-color: #DBD2EA;}
.dot69 {background-color: #D1C7DE;}
.dot70 {background-color: #CCC2D7;}
.dot71 {background-color: #DAE0F2;}
.dot72 {background-color: #D9E0F2;}
.dot73 {background-color: #C8CFEA;}
.dot74 {background-color: #C6CDE8;}
.dot75 {background-color: #BFC6DF;}
.dot76 {background-color: #CCD2E0;}
.dot77 {background-color: #B9CEE1;}
.dot78 {background-color: #E0ECF5;}
.dot79 {background-color: #CCE0F3;}
.dot80 {background-color: #B9D1E8;}
.dot81 {background-color: #C2E0F2;}
.dot82 {background-color: #B9D8EB;}
.dot83 {background-color: #B6D2E1;}
.dot84 {background-color: #B4CBD8;}
.dot85 {background-color: #C9E9EE;}
.dot86 {background-color: #B9E3F3;}
.dot87 {background-color: #B4E2F3;}
.dot88 {background-color: #A0D3E5;}
.dot89 {background-color: #ABDFEB;}
.dot90 {background-color: #9ED3DE;}
.dot91 {background-color: #A2CBDB;}
.dot92 {background-color: #C6EFF1;}
.dot93 {background-color: #B8ECF0;}
.dot94 {background-color: #B1EDEC;}
.dot95 {background-color: #B0E1E4;}
.dot96, .dot99 {background-color: #A6DFDD;}
.dot97 {background-color: #B2D3D3;}
.dot98 {background-color: #ADD4DB;}